---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
);
---

<Layout title="Blog">
	<div>
		<h1>Blog</h1>
		<p>Here are some of my thoughts and experiences.</p>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>
