---
import { Image } from "astro:assets";
import TypedText from "./TypedText";
import PartyingFace from "./twemoji/partying-face.svg";
import ChinaFlag from "./twemoji/china-flag.svg";
---

<div class="lg:mb-10 lg:mt-10">
  <h1 class="inline-block mb-16 bg-gradient-to-r from-soto-100 to-amber-200 bg-clip-text lg:text-7xl text-6xl font-extrabold text-transparent dark:from-soto-100 dark:to-blue-200"
  >
    Hello, 你好!
  </h1>
  <div class="flex flex-col gap-10 text-xl">
    <p>
      Welcome! I'm <b>Zhou Zihang (周子航)</b>, and I go by <b>SOTO</b> online.
      <Image
        src={PartyingFace}
        alt="Partying face"
        class="align-middle w-5 inline"
      />
    </p>
    <p>
      I’m from Inner Mongolia, China
      <Image
        src={ChinaFlag}
        alt="China flag"
        class="inline w-5"
      />
      , and currently studying in Singapore.
    </p>

    <p>
      I’m majoring in Computer Science and interested in new things in the software world. 
      This website is mainly to document my life, personal hobbies, and some travels. 
    </p>

    <p>
      Feel free to get to know me!
    </p>

    <p>
      <TypedText
        client:load
        messages={[
          "I was born in 2000.",
          "I was raised in Alxa, Inner Mongolia, a peaceful place.",
          "I like 🏊‍♂️ / 🏃 / 🏸.",
          "I like 進撃の巨人.",
          "I like Minecraft.",
          "I like League of Legends 🎮.",
          "I like Western-POP/Japanese-POP/Chinese-Folk music 🎵.",
          "...",
        ]}
      />
    </p>
  </div>
</div>
