---

---

<div class="lg:mb-10 lg:mt-10">
  <h1
    class="bg-gradient-to-r from-lime-500 to-yellow-400 bg-clip-text text-7xl font-extrabold text-transparent dark:to-blue-500"
  >
    Hi Friends,
  </h1>
  <div class="prose dark:prose-dark lg:prose-lg">
    <p>
      Welcome! I'm <b>Zhou Zihang</b>.
      <img
        src="src/components/twemoji/partying-face.svg"
        class="align-middle h-4 w-4 inline"
      />
    </p>

    <p>
      "SOTO" is the abbreviation I use on social media. I currently live in
      China and have just graduated from Beihang University with a bachelor's
      degree in Computer Science and Technology. I'm planning to study abroad in
      Canada and am currently waiting for my visa.
    </p>

    <p>
      I've been operating a Minecraft server since 2014, which is probably where
      my interest in programming began. If you're interested, feel free to join
      by entering
      <a href="https://www.mcac.cc/">mcac.cc</a> in client.
    </p>

    <p>
      I have an adorable Shiba Inu named doudou. You can see him on his
      <a href="https://www.instagram.com/puppydoudou/">instagram</a>.
    </p>

    <div class="type-wrap">
      <span style="white-space: pre;"></span>

      <div id="typed"></div>
      <br />

      <p>
        This website is used to introduce myself, publish some regular blogs,
        document my travel diaries, as well as record books, movies, and music
        I've experienced. Feel free to
        <a href="/about"> get to know me better.</a>
      </p>
    </div>
  </div>
</div>
