---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import LOGO from "./images/logo.png";
import { Image } from "astro:assets";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="flex items-center justify-between py-10">
    <div>
      <a href="/">
        <div class="flex items-center justify-between gap-3">
          <Image
            class="rounded-md"
            src={LOGO}
            alt="logo"
            width={36}
            height={36}
          />
          <div class="hidden px-2 text-2xl font-bold sm:block">
            {SITE_TITLE}
          </div>
        </div>
      </a>
    </div>

    <div class="flex items-center text-base leading-5 gap-3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <ThemeIcon />
    </div>
  </nav>
</header>
