---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import LOGO from "./images/logo.png";
---

<header>
  <nav class="flex items-center justify-between py-10">
    <div>
      <a href="/">
        <div class="flex items-center gap-3 w-9">
          <Image
            class="rounded-lg"
            src={LOGO}
            alt="logo"
          />
          <div class="hidden px-2 text-2xl font-bold sm:block">
            SOTO
          </div>
        </div>
      </a>
    </div>

    <div class="flex items-center text-base leading-5 gap-8 md:gap-3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/trip">Trip</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <ThemeIcon />
    </div>
  </nav>
</header>
